*,h1,h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
h1,h2 {
    text-align: center;
    background-color:black;
    padding: 40px;
}
h5 {
    text-align: center;
}

.card-container-home {
  display: flex;
  padding: 0;
  margin: 0;
  background:black;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.contactMain {
    background-attachment: fixed;
    background-size: cover;
    background-image: url('images/background1.jpg');
    width:100%;
    height:100vh;
    text-align:center;
    font-size:60px;
    font-weight:1000;
    color:white;
    line-height:100vh;
    
}
.sendMessageDiv {
    margin-top: 100px;
    background-color:rgb(24, 24, 24);
    border:1px solid green;
    border-radius: 15px;
    margin-left: 300px;
    width: 500px;
    height: 700px;
}
.sendMessageDiv h5 {
    font-size:35px;
    font-weight: 900;
}

.whatsNextDiv {
    border: 1px solid green;
    border-radius: 0px 15px 15px 0px;
    background-color:rgb(24, 24, 24);
    height:500px;
    width:400px;
    margin-top: 230px;
}
.whatsNextDiv div {
    padding-left: 30px;
}
.footer {
    background-color:rgb(24, 24, 24);
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

input,textarea {
    width: 100%;
    padding: 20px;
    margin: 5px;
}
.inputCustom {
    width:160px;
    height:50px;
    margin-left:30px;
    margin-top:15px;
    border:0.5px solid green;
    font-size: 17px;
    border-radius: 10px;
    color:white;
    background-color: rgb(44, 44, 44);
}
.textAreaCustom {
    width:405px;
    height:150px;
    font-size:18px;
    margin-top:20px;
    margin-left:30px;
    border:0.5px solid green;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);

}
.submitCustom {
    width:450px;
    height:80px;
    margin-left:30px;
    margin-top:40px;
    border:1px solid lightgray;
    font-size: 20px;
    color:white;
    background-color:green;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.submitCustom:hover {
    background-color: black;
}
.footer-items a {
    text-decoration: none;
}
.text-img-container-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(24, 24, 24);
}
.text-img-container-about img {
    width:20%;
    height: 20%;
}
.text-items-about {
    width: 60%;
    text-align: justify;
    padding: 10px;
}
.img-container-about { 
    padding: 100px;
    display: flex;
    flex-direction: column;
    background-color:rgb(44, 44, 44);
    align-items: center;
}
.whatsNextDiv a {
    font-size:20px;
    font-weight:1000;
    color:green;
    text-decoration: none;
}
.footer > div:nth-child(2) {
    margin-left: 200px;
}
.location-div-contact {
    padding: 20px;
    text-align: center;
    width: 35%;
    background-color: black;
}
.location-div-contact img {
    width: 70px;
}
.location-div-contact h5 {
    font-weight: 900;
    font-size:25px;
}
.products {   
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.75)),url('images/background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.products_card_custom {
    border:1px solid rgb(0, 90, 0);
    width:336px;
    background-color:rgb(24, 24, 24);
    text-align:center;
    padding:15px;
    color:white;
    transition:0.6s ease-in-out;
}
.products_card_custom:hover {
    background-color: rgb(44, 44, 44);
}
.products_card_custom img {
    width: 100%;
}
.product-website-button {
    width:50%;
    margin-top: 30px;
    background-color:green;
    height:40px;
    transition: 0.5s ease-in-out;;
}
.img-container-about img {
    width:30%;
}
.website-button-home {
    width:100px;
    margin-top:50px;
    background-color:green;
    border-radius: 10px 10px 10px;
    height:40px;
    transition: 0.5s ease-in-out;;
}
.website-button-home:hover {
    transform: scale(1.1);
}
.website-button-home a {
    text-decoration: none;
}
.youtube-content-home {
    background:black;
    width: 100%;
}
.brands-card-home p {
    font-size:13px;
    text-align: justify;
}
.youtube-content-home iframe {
    width:100%;
    height:100vh;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.75)),url('images/banner1.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.logo {
    margin-left: 40px;
    margin-top: -20px;
    width: 50px;
    height: 50px;
    transition: 0.5s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}
.navbar {
    width: 100%;
    background: linear-gradient(rgba(23, 23, 23, 0.85),rgba(18, 18, 18, 0.85));
    height: 0.1cm;
    line-height: 0.1cm;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:0 20px;
}
.navbar ul li a {
    text-transform:uppercase;
    text-decoration: none;
    color:white;
    transition: 0.5s ease-in-out;
}
.navbar ul li a:hover {
    color:green;
}
.brands-card-home {
    border:1px solid grey;
    width:330px;
    background-color:rgb(24, 24, 24);
    text-align:center;
    padding:15px;
    margin: 50px;
    color:white;
    box-shadow: 0px 0px 20px green;
    transform: scale(1);
    transition: 0.5s ease-in-out;
    
}
.brands-card-home img {
    width: 100px;
}
.brands-card-home:hover {
    box-shadow:20px 10px 0px green;
    transform: scale(1.02);
}
.footer-items {
    flex-wrap: wrap;
    width:33%;
    padding: 50px;
}
.flex-banner-buttons {
    height: 100vh;
    margin-left:100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.flex-banner-buttons button {
    width: 150px;
    height: 50px;
    background-color: rgba(18, 18, 18, 0.6);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    margin-left: 5px;
    
}
.flex-banner-buttons button:hover {
    background-color: green;
    transform: scale(1.01);
}
.location-container-contact {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.message-next-contact {
    display:flex;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 100px;
}