*,h1,h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
h1,h2 {
    text-align: center;
    background-color:black;
    padding: 40px;
}
h5 {
    text-align: center;
}



/* HOME CSS STARTS HERE*/


.banner-home {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.75)),url('images/banner1.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.card-container-home {
  display: flex;
  padding: 0;
  margin: 0;
  background:black;
  justify-content: space-evenly;
  align-items: center;
}
.website-button-home {
    width:100px;
    margin-top:50px;
    background-color:green;
    border-radius: 5px;
    height:40px;
    transition: 0.5s ease-in-out;;
}
.website-button-home:hover {
    transform: scale(1.04);
}
.website-button-home a {
    text-decoration: none;
}
.youtube-content-home {
    background:black;
    width: 100%;
}
.brands-card-home p {
    font-size:13px;
    text-align: justify;
}
.youtube-content-home iframe {
    width:100%;
    height:100vh;
}
.brands-card-home {
    border:1px solid grey;
    width:330px;
    background-color:rgb(24, 24, 24);
    text-align:center;
    padding:15px;
    margin: 50px;
    color:white;
    box-shadow: 0px 0px 20px green;
    transform: scale(1);
    transition: 0.5s ease-in-out; 
}
.brands-card-home img {
    width: 100px;
}
.brands-card-home:hover {
    box-shadow:20px 10px 0px green;
    transform: scale(1.02);
}


/* HOME CSS ENDS HERE */



/* ABOUT CSS STARTS HERE */
.text-img-container-about {
    display: flex;
    padding: 50px;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
}
.text-img-container-about img {
    width:350px;
    object-fit: cover;
    box-shadow: 10px 10px 0px green;
}
.text-items-about {
    width: 60%;
    text-align: justify;
    padding: 10px;
}
.img-container-about a { 
    display: flex;
    flex-direction: column;
    background-color:rgb(0, 0, 0);
    align-items: center;
}
.img-container-about a:hover { 
    cursor: default;
}
.img-container-about img {
    width:30%;
    transition: 0.5s ease-in-out;
}
.img-container-about img:hover {
    width:30%;
    transform:scale(1.05);
    cursor:pointer;
}
/* ABOUT CSS ENDS HERE */



/* CONTACT CSS STARTS HERE */

.contactMain {
    background-attachment: fixed;
    background-size: cover;
    background-image: url('images/background1.jpg');
    height:100vh;
    text-align:center;
    font-size:60px;
    font-weight:1000;
    color:white;
    line-height:100vh;
}
.message-next-contact {
    display:flex;
    justify-content: center;;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 100px;
}
.sendMessageDiv {
    margin-top: 100px;
    background-color:rgb(24, 24, 24);
    border:1px solid green;
    border-radius: 10px;
    width: 500px;
    height: 700px;
}
.sendMessageDiv h5 {
    font-size:35px;
    font-weight: 900;
}
.whatsNextDiv {
    border: 1px solid green;
    border-radius: 0px 15px 15px 0px;
    background-color:rgb(24, 24, 24);
    height:500px;
    width:400px;
    margin-top: 230px;
}
.whatsNextDiv div {
    padding-left: 30px;
}
.inputCustom {
    width:160px;
    height:50px;
    margin-left:30px;
    margin-top:15px;
    border:0.5px solid green;
    font-size: 17px;
    border-radius: 10px;
    color:white;
    background-color: rgb(44, 44, 44);
}
.textAreaCustom {
    width:405px;
    height:150px;
    font-size:18px;
    margin-top:20px;
    margin-left:30px;
    border:0.5px solid green;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);

}
.submitCustom {
    width:450px;
    height:80px;
    margin-left:30px;
    margin-top:40px;
    border:1px solid lightgray;
    font-size: 20px;
    color:white;
    background-color:green;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.submitCustom:hover {
    background-color: black;
}
.whatsNextDiv a {
    font-size:20px;
    font-weight:1000;
    color:green;
    text-decoration: none;
}
.location-div-contact {
    padding: 20px;
    text-align: center;
    width: 35%;
    background-color: black;
}
.location-div-contact img {
    width: 70px;
}
.location-div-contact h5 {
    font-weight: 900;
    font-size:25px;
}
.location-container-contact {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

input,textarea {
    width: 100%;
    padding: 20px;
    margin: 5px;
}
/* CONTACT CSS ENDS HERE */



/* FOOTER CSS STARTS HERE */
.footer {
    background-color:rgb(24, 24, 24);
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer-items a {
    text-decoration: none;
}
.footer > div:nth-child(2) {
    margin-left: 200px;
}
.footer-items {
    flex-wrap: wrap;
    width:33%;
    padding: 50px;
}
/* FOOTER CSS ENDS HERE */



/* PRODUCT CSS STARTS HERE */
.banner-main-product { 
    justify-content: center;
    align-items: center; 
    display: flex; 
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.75)),url('images/background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.banner-main-product h5:hover {
    transform: scale(1.1);
}
.banner-main-product h5 {
    font-weight: 900;
    font-size: 60px;
    transition: 0.5s ease-in-out;
}
.categories-product {
    display:flex;
    background-image: url(images/productblur.jpg);
    height: 100vh;
    background-size: cover;
    justify-content: space-around;
    align-items: center;
    font-size:50px;
    font-weight: 900;
}
.categories-product a {
    text-decoration: none;
    text-align: center;
}
.categories-product h5 {
    transition: 0.5s ease-in-out;
}
.categories-product h5:hover {
    transform: scale(1.1);
}
.categories-product > h5:nth-child(2) {
    margin-left: 50px;
}
.product-columns {
    display:flex;
    background-color:black;
    justify-content:center;
}
.products_card_custom {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(0, 90, 0);
    width:33%;
    background-color:rgb(24, 24, 24);
    text-align:center;
    padding:20px;
    color:white;
    transition:0.6s ease-in-out;
}
.products_card_custom:hover {
    background-color: rgb(44, 44, 44);
}
.products_card_custom img {
    width: 300px;
    height:200px;
    object-fit: cover;
}
.product-website-button {
    text-decoration: none;
    display: block;
    padding: 10px;
    width:30%;
    margin-top: 50px;
    background-color:green;
    transition: 0.5s ease-in-out;
}
.product-website-button:hover {
    background-color:rgb(0, 82, 0);
}
.product-website-button a {
    text-decoration: none;
}
img[src="images/asusproduct2.png"] {
    transform: scale(1.3);
}
/* PRODUCT CSS ENDS HERE */


.logo {
    margin-left: 40px;
    margin-top: -20px;
    width: 50px;
    height: 50px;
    transition: 0.5s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}


/* NAVIGATION BAR CSS STARTS HERE */
.navbar {
    width: 100%;
    background: linear-gradient(rgba(23, 23, 23, 0.85),rgba(18, 18, 18, 0.85));
    height: 0.1cm;
    line-height: 0.1cm;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:0 20px;
}
.navbar ul li a {
    text-transform:uppercase;
    text-decoration: none;
    color:white;
    transition: 0.5s ease-in-out;
}
.navbar ul li a:hover {
    color:green;
}
/* NAVIGATION BAR CSS ENDS HERE */



.product-details-legion {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background-color: black;
    height: 100vh;
}
.legion-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.legion-text {
    width: 50%;
    text-align: center;
}
.legion-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-top: 50px;
}
.legion-buttons a {
    margin-left: 10px;
    padding: 20px;
    background-color: green;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.legion-buttons a:hover {
   background-color:rgb(1, 86, 1); 
 }

 /* .flex-banner-buttons {
    height: 100vh;
    margin-left:100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.flex-banner-buttons button {
    width: 150px;
    height: 50px;
    background-color: rgba(18, 18, 18, 0.6);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    margin-left: 5px;
    
}
.flex-banner-buttons button:hover {
    background-color: green;
    transform: scale(1.01);
} */